@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f7f7f7;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px 0 0;
    margin-top: 363px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-logo img{
    width: 60px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.footer-logo p{
    width: 300px;
    color: #b3b3b3;
    margin: 0 auto;
}

.footer-links,
.footer-contact{
    margin-top: 20px;
}

.footer-links h3,
.footer-contact h3{
    margin-bottom: 20px;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a{
    color: #b3b3b3;
}

.footer-contac li {
    margin: 15px 0;
    display: flex;
    gap: 10px;
    color: #b3b3b3;
    font-weight: 300;
    justify-content: center;
}

.copyright{
    background-color: #5a5a5a;
    padding: 10px;
    text-align: center;
}

@media (min-width: 900px){
    
    .footer-content{
        justify-content: space-between;
        flex-direction: row;
    }
    
    footer{
        padding: 20px 0 0;
    }
    
    .footer-contact li{
        justify-content: start;
    }
    
    .footer-logo{
        border-right: 1px solid #f7f7f7;
        padding-right: 100px;
    }
}